body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PingFang TC', 'Microsoft JhengHei', sans-serif;
}

#lines-btn-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;

    margin-top: 15px;
    margin-bottom: 30px;

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        background-color: rgb(144, 45, 54);
        color: white;
        cursor: pointer;
    }
}

#station-lines-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.line {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.station-card {
    h4.station-name {
        font-weight: bold;
    }

    p {
        margin-top: 10px;
    }

    padding: 10px;
    width: 180px;
    border: 1px solid black;
    border-radius: 5px;
}